*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h4 {
    color: #2e3c94;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;

    
}
.formulaire-insertion {
  
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column; /* Arrange les éléments en colonne */
    gap: 15px; /* Espace entre les éléments */
    max-width: max-content; /* Largeur maximale du formulaire */
    margin: 0 auto; /* Centre le formulaire */
    margin-bottom: 15px;
}


#insertionForm input[type="submit"] {
    padding: 10px 20px;
    background-color: #506882;
    color: #fff;
    border:none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(10, 10, 10, 0.1);
    
   
}
#insertionForm input[type="submit"]:hover {
    background-color: #25244f;
    box-shadow: 0 4px 8px rgba(178, 34, 34, 0.2);
}

